 .readingList {
    &__header {
        align-items: center;
        background-image: linear-gradient(to left bottom, #1d009a, #330ba8, #4516b5, #5620c3, #662ad1, #5248e3, #3860f2, #0074ff, #0092ff, #00abff, #00c2ff, #24d6fc);
        display: flex;
        flex-direction: column;
        height: 300px;
        padding: 0 100px;
    }
 }