@import "~bootstrap/dist/css/bootstrap.min.css";

@import "components/style/colors";
@import "components/style/homepage";
@import "components/style/storyCard";
@import "components/style/modal";
@import "components/style/story-modal";
@import "components/style/readinglist-tooltip";
@import "components/style/story-panel";
@import "components/style/NavBar";
@import "components/style/searchBar";
@import "components/style/notification";
@import "components/style/search";
@import "components/style/pagination";
@import "components/style/storyDetails";
@import "components/style/chapter";
@import "components/style/myStories";
@import "components/style/scrollbar";
@import "components/style/storyForm";
@import "components/style/storyTable";
@import "components/style/profile";
@import "components/style/readingList";

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800,900|Roboto:400,700');
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f7f8f9;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}
a {
  color: $color-blue;
  transition: 0.3s;
}
a:hover {
  color: $color-pink;
  text-decoration: none;
}
.app {
  //padding-top: 60px
}